<h2>Prikaz Takmicar</h2>

<div ng-init="getOne()">

<form class="form-horizontal">
	<div class="form-group">
	    <label class="col-sm-2 control-label">Ime</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.ime" disabled>
		</div>	
	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Prezime</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.prezime" disabled>
		</div>	
	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Jmbg</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.jmbg" disabled>
		</div>	
	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Pol</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.pol" disabled>
		</div>	
	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Kontakt</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.kontakt" disabled>
		</div>	
	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Trka</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="takmicar.trka.naziv" disabled>
		</div>	
	</div>
</form>


</div>

<div class = "row">	
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>	
</div>	