<div ng-controller="recordsCtrl">
	<h1>Records</h1>
	
	<br>
	
	<div class="row">
		
		<div class="col-12 col-sm-6 col-md-3">
			<form>
				<div class="form-group">
					<label>Time</label>
					<input class="form-control" ng-model="record.time" />
				</div>
				
				<div class="form-group">
					<label>Duration</label>
					<input class="form-control" ng-model="record.duration"/>
				</div>
				
				<div class="form-group">
					<label>Intensity</label>
					<input class="form-control" ng-model="record.intensity"/>
				</div>
				
				<div class="form-group">
					<label>User</label>
					<select class="form-control" ng-model="record.userId">
						<option ng-repeat="u in users" value="{{u.id}}">{{u.firstname}}</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Activity</label>
					<select class="form-control" ng-model="record.activityId">
						<option ng-repeat="a in activities" value="{{a.id}}">{{a.name}}</option>
					</select>
				</div>
				
				<button class="btn btn-secondary" ng-click="doAdd()">Add</button>
			</form>
		
		</div>
		
		<div class="col-12 col-sm-6 col-md-3">
			<form>
				<div class="form-group">
					<label for="activity">Activity</label>
					<input ng-model="searchParams.activity" class="form-control" id="activity">
				</div>
				<div class="form-group">
					<label for="minimalDuration" >Minimal duration</label>
					<input ng-model="searchParams.minimalDuration" id="minimalDuration" class="form-control">
				</div>
				<div class="form-group">
					<label for="intensity">Intensity</label>
					<input ng-model="searchParams.intensity" class="form-control" id="intensity"/>
				</div>
				<button ng-click="doSearch()" class="btn btn-secondary">Search</button>
			</form>
		</div>
		
		<div class="col-12 col-md-6">
			
			<div class="btn-group float-right">
				<button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-info">Previous</button>
				<button ng-disabled="pageNum == totalPages - 1" ng-click="changePage(1)" class="btn btn-info">Next</button>
			</div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Time</th>
						<th>Duration</th>
						<th>Intensity</th>
						<th>User</th>
						<th>Activity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in records">
						<td>{{r.time}}</td>
						<td>{{r.duration}}</td>
						<td>{{r.intensity}}</td>
						<td>{{r.userName}}</td>
						<td>{{r.activityName}}</td>
						<td><button class="btn btn-warning" ng-click="goToEdit(r.id)"><i class="fa fa-pencil" aria-hidden="true"></i>
</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>