<h2>{{addEditHeading}} Trka</h2>

<form ng-init="initAddEditPage(); getOne()" class="form-horizontal">
	<div class="form-group">
	    <label class="col-sm-2 control-label">Naziv</label>
	    <div class="col-sm-4">
	    	<input type="text" class="form-control" placeholder="Naziv..." ng-model="trka.naziv" >
	    </div>
 	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Cena</label>
	    <div class="col-sm-4">
	    	<input type="number" class="form-control" placeholder="Cena..." ng-model="trka.cena" >
	    </div>
 	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">DuzinaKm</label>
	    <div class="col-sm-4">
	    	<input type="number" class="form-control" placeholder="DuzinaKm..." ng-model="trka.duzinaKm" >
	    </div>
 	</div>
	<div class="form-group">
	    <label class="col-sm-2 control-label">Takmicenje</label>
	    <div class="col-sm-4">
	    	<select class="form-control" ng-model="trka.takmicenje">
	    		<option ng-repeat="takmicenje in takmicenjeList" value="{{takmicenje}}"> {{takmicenje.naziv}} </option>
	    	</select>
	    </div>
 	</div>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<button ng-disabled="   !trka.naziv    && !trka.cena    && !trka.duzinaKm    && !trka.takmicenje   "
	    			ng-click="open()" type="submit" class="btn btn-info">Sacuvaj</button>
	    </div>
  	</div>
</form>

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
	   	<h3 class="modal-title">Potvrda</h3>
	</div>
	<div class="modal-body">
	   	<p>Jeste li sigurni da zelite da dodate/izmenite Trka?</p>
	</div>
	<div class="modal-footer">
	   	<button class="btn btn-primary" type="button" ng-click="confirm()">Potvrdi</button>
	   	<button class="btn btn-warning" type="button" ng-click="revert()">Otkazi</button>
	</div>
</script>

<div class = "row">	
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>	
</div>	
	
